
h1{
    color: green;
    text-shadow: 1px 1px 1px #000;
}
h2{
    color: green;
    text-shadow: 1px 1px 1px #000;
}
p{
    color: #000;
    padding: 20px;
    width: 400px;
    border: 2px solid;
    border-radius: 10px 10px 10px ;
    margin: 30px;
    box-shadow: inset 10px 10px 10px ;
}